.personcen{
	margin-top: 50px;
	background-color: #55b929;
}
.personcen .row{
	padding:0.2rem 0;
}
.personcen img{
	border-radius: 50%;
	width: 1rem;
}
.personcen img:hover{
	transform: rotate(360deg);
	transition-duration: 2s;
}
.shizi{
	color: white;
	font-size: 0.2rem;
	margin-left:10px;
}
.studydd{
	font-size: 0.2rem;
	color: white;
	line-height: 100px;
}
.rowc{
	text-align: center;
}
.personcenal{
	margin-top: 50px;
}
.personcenal ul{
	margin-bottom: 30px;
}
/*.personMytab{
	margin-top: 50px;
}*/
.personMyshow{
	position: relative;
}
.personMyshow:hover{
	box-shadow: 1px 1px 15px black !important;
}
.personMyshow:hover span{
	display: inline-block;
}
.personMyshow span{
	display: none;
	position: absolute;
	top:4px;
	right:0px;
	width:70px;
	height: 28px;
	background-color: white;
	color: #55b929;
	padding-left: 4px;
}
